stages:
  - release

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+((a|b|rc)\d+(\.\d+)*|-(a|b|rc)\d+(\.\d+)*|-dev\d+(\.\d+)*)?$/'
      when: on_success
    - when: never
  script:
    - echo "Creating release for $CI_COMMIT_TAG"
  release:
    tag_name: "$CI_COMMIT_TAG"
    name: "Release $CI_COMMIT_TAG"
    description: |
      Automated release for version $CI_COMMIT_TAG
